{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="header">
        <h1 style="padding:0;margin:0;">Repaire Motard</h1>
    </div>
    <div class="parallax" id="trans1">
        <div class="txt right">
            &#10085;Live<br/>
            Laugh<br/>
            Enjoy&#10085;
        </div>
        <div style="clear:both;"></div>
        <div class="txt right sub">
            Every Story is Beautiful<br/>
            But Ours is My Favorite
        </div>
    </div>
    <div class="content bg-dark text-white">
        {% for key,event in events %}
            {% if key is same as(0) %}
                {% for key,image in event.eventImages %}
                    {% if key is same as(0)  %}
                        <img style="float:right;margin-top:10px;margin-right:15px;width: 20%"
                             src="{{ asset('uploads/event/'~ image.name) }}"
                             alt="Photo du prochain Evenement"/>
                    {% endif %}
                {% endfor %}
                <h2>{{ event.title }}</h2>
                <p>{{ event.detail|raw}} </p>
                <div style="clear:both;"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="parallax" id="trans2">
        <div class="txt left">
            Happiness
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Un petit mot ici...
        </div>
    </div>

    <div class="content right bg-dark text-white">
        <h2>Nos prochains évènements</h2>
        <div class="d-flex justify-content-evenly">
            {% for key,event in events %}
                {% if key is not same as(0) %}
                    {% for key,image in event.eventImages %}
                        {% if key is same as(0)  %}
                            <a>
                                <img style="width:100%;"
                                     src="{{ asset('uploads/event/' ~ image.name) }}"
                                     alt="Mr and Mrs"/>
                            </a>
                        {% endif %}
                    {% endfor %}
                    <div style="clear:both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="parallax" id="trans3">
        <div class="txt left">
            and they lived...
        </div>
        <div style="clear:both;"></div>
        <div class="txt left sub">
            Happily Ever After
        </div>
    </div>

    <div id="footer" class="bg-dark text-white">
        <div class=" d-flex justify-content-center">
            <form action="{{ path('app_new_letter_new') }}" class="col-6">
                {{ include('new_letter/_form.html.twig') }}
                {#            <div class="mb-3 col-6">#}
                {#                <label for="mail" class="form-label">Vous souhaitez être au courant de nos prochains évènement, laissez nous votre eMail !</label>#}
                {#                <input type="email" class="form-control" id="mail" placeholder="name@example.com" name="mail">#}
                {#                <button type="submit" class="btn btn-block btn-secondary w-100">Envoyer</button>#}
                {#            </div>#}
            </form>
        </div>
        <div class="mt-1">
            <p>Designed with Love and Care</p>
            By: <a href="mailto: vidal.wplace@gmail.com">Sp6M3N</a>
        </div>
    </div>
{% endblock %}
